:root {
  --primary-color:#008E9B;
  --background-color: #0A192F;
  --light-color: #e7e7e7;
  --white-shadow-color: #bdbdbd;
  --font: 'Noto Serif', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: var(--font);
  background: linear-gradient(-45deg, #8ee41f, #162f44, #2a4b10, #23d5ab);
background-size: 400% 400%;
animation: background-animation 15s ease infinite;
}

@keyframes background-animation {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

input,
textarea,
button {
  font-family: var(--font);
}

h1,
h2,
h3 {
  margin-bottom: 1.8rem;
  text-transform: capitalize;
}

p {
  margin-bottom: 0.8rem;
  line-height: 2;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.container {
  max-width: 1200px;
  padding: 3rem;
  min-height: 25vh;
  margin: 0 auto;
}

/* Header area */

header {
  background-color: var(--background-color);
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 3;
  width: 100vw;
  top: 0;
  left: 0;
}

header #logo a img {
  width: 130px;
  height: 60px;
}

/* Main Navigation */

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: var(--light-color);
  padding: 0.5rem 0;
  margin: 0 1rem;
  display: block;
  border-bottom: 3px double transparent;
}

header nav ul li a:hover {
  border-bottom: 3px double var(--primary-color);
}

header nav i {
  font-size: inherit;
  color: var(--primary-color);
}

/* Hiding nested ul by default */

header nav ul li ul {
  display: none;
}

header nav ul li:hover a {
  color: var(--primary-color);
  cursor: pointer;
}

/* Nested dropdown menu show */

nav ul li {
  position: relative;
}

nav ul li:hover ul {
  display: block;
  position: absolute;
  right: 0;
  width: 150px;
  padding: 1rem;
}

nav ul li:hover ul li {
  display: block;
  background: var(--light-color);
}

nav ul li:hover ul li a {
  color: var(--background-color);
}

nav ul li:hover ul li:hover {
  color: inherit;
}

/* Main Body */

main {
  margin-top: 80px;
}

/* Hero Banner */

main #hero-banner {
  background: url("https://source.unsplash.com/1600x900/?animal") no-repeat fixed center center/cover;
  height: 90vh;
  display: flex;
  align-items: center;
  position: relative;
}

#hero-banner::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(var(--background-color) 0.4);
  top: 0;
  left: 0;
}

main #hero-banner h1 {
  color: var(--light-color);
  text-align: center;
  font-size: 5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main #hero-banner span {
  color: var(--primary-color);
}


/* Work Section */

main #work {
  background-color: var(--light-color);
}

main #work .work_boxes {
  display: flex;
  justify-content: space-between;
}

main #work .box {
  background-color: var(--light-color);
  width: 32%;
  padding: 1rem;
  border-radius: 2px;
  box-shadow: 0 0 5px var(--background-color);
}

main #work .box:hover {
  box-shadow: 0 0 25px #8a8a8a;
}

main #work .box img {
  width: 100%;
  margin-bottom: 1rem;
}

main #work .box a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

/* Experiemce Section */

main #experience {
  display: flex; 
  background-color: var(--light-color);
}

main #experience img {
  width: 50%;
  object-fit: cover;
  object-position: center;
}

main #experience .content {
  padding: 3rem;
}

/* Skill Section */

main #skill {
  background: url("https://source.unsplash.com/random") no-repeat fixed center center/cover;
  padding: 3rem;
  width: 100%;
}

main #skills .container {
  background-color: rgba(var(--light-color) 0.95);
}

.skills_group {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skill {
  height: 245px;
  width: 255px;
  box-shadow: inset 0 0 5px var(--white-shadow-color);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill:nth-child(odd) {
  background-color: rgb(232, 232, 232);
}

.skill p {
  margin: 2rem 0;
}

i {
  font-size: 48px;
  color: rgb(75, 75, 75);
}

progress[value] {
  height: 25px;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background: var(--primary-color);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* Gellery Section */

#gallery h2,
#gallery p {
  color: var(--light-color);
}

.gallery-group {
  display: grid;
  grid-template-areas:
  "a a b b c c"
  "a a d d c c"
  "e h h h c c"
  "f h h h i i"
  "g h h h i i";
  grid-gap: 0.5rem;
  grid-template-columns: repeat(6, 1fr);
}

.grid-div {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.grid-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item:hover {
  transform: scale(1.05);
}

.grid-item-1 {
grid-area: a;
}
.grid-item-2 {
grid-area: b;
}
.grid-item-3 {
grid-area: c;
}
.grid-item-4 {
grid-area: d;
}
.grid-item-5 {
grid-area: e;
}
.grid-item-6 {
grid-area: f;
}
.grid-item-7 {
grid-area: g;
}
.grid-item-8 {
grid-area: h;
}
.grid-item-9 {
grid-area: i;
}

/* footer area */

footer {
  background-color: var(--background-color);
  text-align: center;
  color: var(--light-color);
  padding: 1.5rem;
  }

footer p {
  font-size: 0.8rem;
  margin-top: 3rem;
}

/* Form */
footer form {
  width: 60%;
  margin: 0 auto;
}

footer form .form-group {
  margin: 2rem 0;
}

footer form .form-group label {
  width: 200px;
  display: inline-block;
  text-align: left;
}

footer form .form-group input,
footer form .form-group textarea {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  width: 60%;
  font-size: 1rem;
}

footer form button {
  background-color: var(--primary-color);
  border-radius: 5px;
  border: none;
  padding: 1rem 2rem;
  color: white;
  font-size: inherit;
}

@media (max-width: 899px) {
  main #experience {
    display: block;
  }
  main #experience img {
    width: 100%;
  }
  footer form {
    width: 80%;
    text-align: left;
  }
  footer form .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  footer form .form-group input,
  footer form .form-group textarea {
    width: 100%;
  }
  footer form button {
    width: 100%;
  }
}
@media (max-width: 576px) {
  header {
    display: block;
    text-align: center;
    padding: 1rem;
  }
  header nav ul li a {
    padding: 0.5rem;
  }

  main #gallery {
      padding-top: 25px;
  }

  .container,
  main #experience .content {
    padding: 1rem;
  }
  main #hero-banner h1 {
    font-size: 3rem;
    margin: 1rem;
  }
  main #work .work_boxes {
    flex-direction: column;
  }
  main #work .box {
    width: 100%;
    margin: 1rem 0;
  }
  main #skills img {
    width: 100%;
    float: none;
    margin-right: 0;
  }

  main #work,
  main #skills {
    padding: 0;
  }
}